.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background: url("https://products.ls.graphics/mesh-gradients/images/03.-Snowy-Mint_1.jpg");
    background: url("https://products.ls.graphics/mesh-gradients/images/08.-Violet-Blue.jpg");
    background: url("https://products.ls.graphics/mesh-gradients/images/79.-Heliotrope_1.jpg");
    background: url("https://products.ls.graphics/mesh-gradients/images/82.-Ice-cream.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 5vh 15vh 3vh 15vh;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.navbar li {
    margin-left: 5vw;
    font-size: 2vh;
    font-weight: 600;
    color: #2b2d42;
    text-transform: uppercase;
    letter-spacing: 0.2vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.column {
    display: block;
    text-align: right;
}

.github-btn {
    margin-bottom: 2vh;
    border: none;
    border-radius: 1vh;
    padding: 1vh 4vh 1vh 4vh;
    background-color: black;
    color: white;
}