<nav class="navbar">
    <img src="assets/logo-black.svg" alt="logo" style="height: 10vh;" />
    <div class="column">
        <button class="github-btn">View on GitHub<img src="assets/github.png" alt="github logo"
                style="height: 3vh; margin-bottom: 0.2vh; margin-left: 1.7vh;" /></button>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/movies">Movies</a></li>
            <li><a routerLink="/movies">Directors</a></li>

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>