<div class="carrousel">
    <button mat-icon-button color="primary" aria-label="Previous" (click)="previousPage" disabled={{firstPage}}>
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="movie_card" id="bright">
        <div class="info_section">
            <div class="movie_header">
                <img class="locandina" src="{{currentMovie.Poster}}" />
                <h1>{{currentMovie.Title}}</h1>
                <h4>{{currentMovie.Year}}, {{currentMovie.Directors}}</h4>
                <span class="minutes">{{currentMovie.Runtime}} min</span>
                <p class="type">{{currentMovie.Genres}}</p>
            </div>
            <div class="movie_desc">
                <p class="text">
                    {{currentMovie.Description}}
                </p>
            </div>
        </div>
        <div class="blur_back" style="background: url({{currentMovie.Poster}});
        background-size: fit;
        margin-right: -5vh;">
        </div>
    </div>
    <button mat-icon-button color="primary" aria-label="Next" (click)="nextPage" disabled={{lastPage}}>
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>